@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Josefin+Sans:ital,wght@1,600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    font-family:'Josefin Sans';
    background: linear-gradient(-45deg, #ffce51,#ff7253,#fd5754);
}

#form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
    padding: 60px;
    padding-top: 35px;
    width: min-content; /*como funciona*/
    align-items: center;
    color: #2b344b;
    animation: iniciar 0.75s ease-out;
    pointer-events: all;
}

.title{
    text-align: center;
    margin-bottom: 10%;
    font-size: 1.8em;;

}

.inputs{
    min-width: 280px;
    border: 2px #fd5754 solid;  
    border-radius: 22px;
    padding: 5px;
    margin:0px 0px 12px -5px;
}

.inputs i{
    font-size: 1.2em;
    padding: 5px;
    background: -webkit-linear-gradient(-45deg, #ffce51,#ff7253,#fd5754);
    border-radius: 22px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inputs input{
    width: 80%;
    border: none;
    outline: none;
    align-items: center;
    font-family:'Comfortaa';
    transform: translateY(-10%);
    font-size: 15px;
    color:#2b344b;
}

#button-send{
    width: 35%;
    text-align: center;
    border-radius: 22px;
    border:0px;
    margin-top: 5%;
    margin-left: 80%;
    padding:10px;
    background: linear-gradient(-45deg, #ffce51,#ff7253,#fd5754);
    cursor: pointer;
    outline: none;
    font-family: 'Comfortaa';
    color: #2b344b;
    animation: gira 0.7s ease-out;
}

#button-send:hover{
    background: linear-gradient(-45deg, #fd5754,#ff7253,#ffce51);
}

@keyframes iniciar{
    0%{
        top: -10%;
        opacity: 0%;
        pointer-events: none;
    }
    100%{
        top: 50%;
        opacity: 100%;
        pointer-events: all;
    }
}

@keyframes gira{
    0%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}